{% load static %}
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">

 	<title>{% block title %}My site{% endblock %}</title>
    </head>
    <body style="margin-top: 0px; width: 100%; overflow-x: hidden">
		<nav style="background-color: #AFC1CF; display: flex; height: 50px; width: 100%; align-items: center; font-size: 18px;">
			<ul style="width: 100%; list-style-type: none; margin: 0px; padding: 0px;">
				<li  style="float: left; display: inline; padding-left: 12px;" class="nav-items"><a href="/home">Home</a></li>
				{% if user.is_authenticated %}
				<li style="float: right; display: inline; padding-left: 30px; padding-right: 12px;" class="nav-items"><a href="/profile/?user={{user.username}}">Account</a></li>
				<li style="float: right; display: inline; padding-left: 12px;" class="nav-items"><a href="/logout">Log Out</a></li>
                <li style="float: right; display: inline; padding-left: 12px;" class="nav-items"><a href="/profile/delete_account">Delete Account</a></li>

				{% else %}
				<li style="float: right; display: inline; padding-left: 12px;" class="nav-items"><a href="/login">Login/Register</a></li>
				{% endif %}
		</ul></nav>
        <div id = "content", name = "content" class="row">
				<div class="col" style="display: flex; justify-content: flex-start; flex-direction: column; align-items: center;">
					<img style="margin-top: 100px;width: 10vw; height: 10vw; object-fit: cover; border-radius: 50%" src="{{user.profile.image.url}}" alt="listing placeholder">
					<h1>{{user.username}}</h1>
				</div>
				<div style="background-color: #fafafa" class = "col-8">
					<div>
						{% block content %}
						{% endblock %}
						</div>
					</div>
				<div class="col"></div>
			
        </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>