<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="width: 100%; display: flex; justify-content: center;" class="container-main">
    <div style="width: 50vw; background-color: #208AE3; padding: 15px;" class="container-feed">
        <form action="/listingcreation/submission/" method="post">
            {{form.as_p}}
            <input type="submit" value="Create">
        </form>
    </div>
</div>
</html>