{% extends "main/profilebase.html" %} 
{% load crispy_forms_tags %}


{% block content %}
  {%  if user.is_authenticated %}
  	{% if following == follower %}
	<a href="{% url 'profile' %}" class="ml-2">Edit Profile </a>
	{% endif %}
	<div class = "content-section">
		<div class="img-max">
		<div class ="media">
			<img class = "rounded-circle account-img" src="{{user.profile.image.url}}">
			<div class ="media-body">
				<h2 class = "account-heading">{{following}}</h2>
				<p class="text-secondary">{{ following.email }}</p>
			</div>
		</div>
	</div>

	{% if following != follower %}
		{% if is_following %}
			<form action="remove_follower", method="POST">
			{% csrf_token %}
			<input type="hidden" name="following" value="{{following}}" readonly>
			<input type="hidden" name="follower" value="{{follower}}" readonly>
			<!-- {{following}}
			{{follower}} -->
			<button class="btn profile-btn">Unfollow</button>
			</form>
		{% else %}
			<form action="add_follower", method="POST">
			{% csrf_token %}
			<input type="hidden" name="following" value="{{following}}" readonly>
			<input type="hidden" name="follower" value="{{follower}}" readonly>
			<!-- {{following}}
			{{follower}} -->
			<button class="btn profile-btn">Follow</button>
			</form>
		{% endif %}
	{% endif %}

	<!-- <a href="/home" class="ml-2">Home </a> -->


	        <fieldset class="form-group">
					{% if follower == following %}
              		<legend class="border-bottom mb-4">My Posts</legend>
					{% else %}
					<legend class="border-bottom mb-4">User Posts</legend>
					{% endif %}
         	</fieldset>  
			 <div style="display: flex; justify-content: center;">
				<div style="display: flex; justify-content: center;">
				  <div style="width: 100%; display: flex; justify-content: center; top: 500px;" class="container-main">
					<div style="width: 50vw; padding: 15px;" class="container-feed">
						<!-- <h1 style="font-size: 60px;">Your Events</h1> -->
						
			
						{% for listing in listings reversed %}
							{% if follower == following or listing.hidden == False%}
							<div style="margin: 15px 0px; display: flex;" class="container-listing">
								<div class="left-content">
									<!-- <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%" src="{{user.profile.image.url}}" alt="listing placeholder"> -->
								</div>
								<div style="margin-left: 20px; width: 100%;" class="right-content">
									<form action="/listingcreation/hidelisting/" method="POST">
								  		<h1 style="margin-top: 0px;">{{ listing.title }}</h1>
								  		<h5>Posted on {{ listing.created_on }} by {{ listing.author }}</h5>
								  		<h6 style="display: inline">RSVP by {{ listing.eventdate }}</h6>
								  		<p>{{ listing.description }}</p>
										<p>Tags: {{ listing.tags }}</p>
								  		<p style="display: inline">RSVP by {{ listing.eventdate }}</p>
										<h6>Recurring: {{ listing.recurring }}</h6>
										{% if follower == following %}
										<p>Hidden to Others: {{ listing.hidden }}</p>
										<input style="display: inline; float: right;" type="submit" value="Hide Post" href="/profile/?user={{user.username}}">
										{% endif %}
								  		<input type="hidden" name="listing_id" value="{{ listing.id }}"/>
									</form>
									<!-- <input style="display: inline; float: right;" type="button" value="Opt-Out"> -->
								</div>
							</div>
							<br>
							{% endif %}
						{% endfor %}
					</div>
				  </div>
				</div>
			  </div>

  
  {% else %}
  <div style="text-align:center; margin-top: 35vh">
  <h1>Please log in to view</h1>
  <a href="/login">Click here to login</a>

  <!-- <button onclick="window.location.href='/login'">Click here to Login</button> -->
  </div>
  <br>
  {% endif %}
  
          
{% endblock %}