<html>
  
  <body>
  
  <h1>Edit Profile Bio and Interests Sections</h1>
  <form action="" method="POST"> 
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" class="field" palceholder="Enter Username" name="username"><br>
    <label for="">Bio:</label><br>
    <input type="text" class="field" palceholder="Bio" name="bio"><br>
    <label for="">Interests:</label><br>
    <input type="text" class="field" palceholder="Interests" name="interests"><br>
    <br>
    <button type="submit" class="btn">Update Bio & Interests</button>
  </form>
    
  </body>
  
  </html>