{% load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'profilepage/style.css' %}">

</head>

<body>
           
  <body>
    <ul>
      <li style="float:left"><a href="/home">Home</a></li>
      
    <li style="float:right;padding:1px 32px"><a href="/profile/settings">Settings / Edit Profile</a></li>
    </ul>
  </body>
  
  
  
  
  <h3 class="profileCir">Profile Pic Placeholder</h3>
  
  
  
  
  <table class="content-table">
    <thead>
      <tr>
        <th>My Posts</th>
        <th>Posts I'm Interested In</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>Place</td>
        <td>Just until</td>
      </tr>
      
   
      <tr class="active-row">
        <td>Holder</td>
        <td>The Database is</td>
      </tr>
      
      
      <tr>
        <td>For Now</td>
        <td>Connected</td>
      </tr>
    </tbody>
  </table>
  
  
  
  <table class="bioInterestsTable">
    <tbody>
      <tr>
        <td>
          User Bio  
        </td>
        <td>
          Text Form
        </td>
      </tr>
      
      <tr>
        <td>
          Interests
        </td>
        <td>
          User inputtttttt
        </td>
      </tr>
    </tbody>
  
  
  
  
  

</body>
</html>